* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: #66CDAA;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 443px;
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    justify-content: space-between;
    list-style: none;

    
    & li {
        display: flex;
        align-items: center;
        height: 24px;
    }
}

main {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 800px;
    color: #696969;

    & > section {
        display: flex;
        flex-direction: row;
        height: 200px;
        
        & > div {
            width: 400px;
        }
    }
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66CDAA;
}


.profession {
display: flex;
align-items: center;
justify-content: center;
color: #696969;
}

.myphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #66CDAA;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 40px;
    margin: 0 auto;

    & a {
        text-decoration: none;
    }

    & p {
        color: #696969;
    }

}

.rsschool {
    background-image: url(/assets/img/background.png);
    height: 40px;

}


